
.base{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.counter{
  width: 100px;
  height: 50px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container{
  display: flex;
}

.btn{
  margin: 0.25rem;
  width: 50px;
}